@page
@model ModernMoviesWeb.Pages.MovieAdmin.EditMovieModel
@{
}
<form method="post" class="form-group">
	<div class="row m-2 text-danger" asp-validation-summary="All"></div>
	<div class="row m-2 justify-content-center">
		<div class="col-10">
			<input type="text" class="form-control" asp-for="editedMovie.MovieName" placeholder="Movie Name" />
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-10">
			<textarea class="form-control" asp-for="editedMovie.MovieDesc" placeholder="Movie Description"></textarea>
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-10">
			<input type="text" class="form-control" asp-for="editedMovie.Image" placeholder="Image Link" />
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-10">
			<label class="text-center" asp-for=" editedMovie.MinRuntime"></label>
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-10">
			<input type="text" class="form-control" asp-for="editedMovie.MinRuntime" placeholder="Runtime (Minutes)" />
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-10">
			<label class="text-center" asp-for="editedMovie.ReleaseDate"></label>
		</div>
		<div class="col-10">
			<input type="date" class="form-control" asp-for="editedMovie.ReleaseDate" />
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="px-3 py-1">
			<label asp-for="editedMovie.GenreID"></label>
		</div>
		<div class="px-3 py-1">
			<select asp-for="editedMovie.GenreID" asp-items="@Model.Genres"> </select>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="px-3 py-2">
			<label asp-for="editedMovie.RatingID"></label>
		</div>
		<div class="px-3 py-2">
			<select asp-for="editedMovie.RatingID" asp-items="@Model.Ratings"></select>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-2">
				<input type="submit" value="SAVE CHANGES" class="btn btn-primary" />
			</div>
		</div>
	</div>
</form>

