@page
@model ModernMoviesWeb.Pages.MovieAdmin.UpdateUserModel
@{
}
<form method="post" class="form-group">
	<div class="row m-2 text-danger" asp-validation-summary="All"></div>
	<div class="row m-2 border">
		<div class="row m-2">
			<div class="col-2">
				<label class="form-label" asp-for="updatedUser.Name"></label>
			</div>
			<div class="col-10">
				<input type="text" class="form-control" asp-for="updatedUser.Name" placeholder="User Name" />
			</div>
		</div>
		<div class="row m-2">
			<div class="col-2">
				<label class="form-label" asp-for="updatedUser.Email"></label>
			</div>
			<div class="col-10">
				<input type="text" class="form-control" asp-for="updatedUser.Email" placeholder="User Name" />
			</div>
		</div>
		<div class="row m-2">
			<div class="col-2">
				<label class="form-label" asp-for="updatedUser.PhoneNumber"></label>
			</div>
			<div class="col-10">
				<input type="text" class="form-control" asp-for="updatedUser.PhoneNumber" placeholder="User Name" />
			</div>
		</div>
		<div class="row m-2">
			<div class="col-2">
				<label class="form-label" asp-for="updatedUser.RoleId"></label>
			</div>
			<div class="col-10">
				<input type="text" class="form-control" asp-for="updatedUser.RoleId" placeholder="User Name" />
			</div>
		</div>
		<div class="row m-2">
			<div class="col-2">
				<label class="form-label" asp-for="updatedUser.LastLoginTime"></label>
			</div>
			<div class="col-10">
				<label class="form-label">updatedUser.LastLoginTime</label>
			</div>
		</div>
	</div>
</form>

