@page
@model ModernMoviesWeb.Pages.MoviePages.MoviesModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MODERN MOVIES</h1>
    <p>Please give us your money.</p>
</div>

<!-- Carousel -->
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @foreach (var movie in Model.Movies)
        {
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://itiobookreviews.com/wp-content/uploads/2014/09/the_maze_runner-wide.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Movie Title</h5>
                    <p>Some description about the movie</p>
                </div>
            </div>
        }
        <!-- Repeats for each movie in database -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

</div>
