@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We will freely use any information provided to us for explicit profit motives. We will sell your
    data to whoever will buy it. Please give us as much money as humanly possible.
</p>
