@page
@model ModernMoviesWeb.Pages.Account.RegisterModel
@{
}
<h1>
	REGISTER FOR A MODERN MOVIES&trade; ACCOUNT
</h1>
<h2>

</h2>
<form method="post">
	<div class= "row m-2 text-danger" asp-validation-summary="All"></div>
	<div class="row m-2 justify-content-center">
		<div class="col-4">
			<input asp-for="newPerson.Name" type="text" class="form-control" placeholder="Full Name"/>
			<span asp-validation-for="newPerson.Name" class="text-danger"></span>
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-4">
			<input asp-for="newPerson.Email" type="email" class="form-control" placeholder="Email Address" />
			<span asp-validation-for="newPerson.Email" class="text-danger"></span>
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-4">
			<input asp-for="newPerson.Password" type="password" class="form-control" placeholder="Password" />
			<span asp-validation-for="newPerson.Password" class="text-danger"></span>
		</div>
	</div>
	<div class="row m-2 justify-content-center">
		<div class="col-4">
			<input asp-for="newPerson.PhoneNumber" type="tel" class="form-control" placeholder="Phone Number (Optional)"/>
			<span asp-validation-for="newPerson.PhoneNumber" class="text-danger"></span>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4">
				<button id="btnRegister" class="btn btn-primary w-100">SUBMIT</button>
			</div>
		</div>
	</div>
	
</form>
